.links {
    display: flex;
    justify-content: space-between;
}

.links-end {
    display: flex;
    justify-content: flex-end;
}

.link{
    color: var(--ion-color-tertiary);
    text-decoration: none;
    font-weight: bold;
}

.highlighted {
    color: var(--ion-color-success);        
}
